.recipe-card {
    width: 240px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: transform .15s ease;
}

.recipe-card:hover {
    transform: scale(1.03);
}

.inshoppinglist {
    position: absolute;
    padding-left: 4px;
    padding-right: 4px;
    background-image: linear-gradient(to right, rgb(74, 121, 248) 0%, #83cf89 80%);
    color: #e9e9e9;
    border-radius: 10px;
}

.recipe-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.rp-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    z-index: 9999;
}

.rp-modal {
    background: white;
    width: 90%;
    max-width: 700px;
    padding: 20px;
    border-radius: 12px;
    position: relative;
    max-height: 85vh;
    overflow-y: auto;
}

.rp-modal-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: #aaa;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.add-btn {
    background-color: #5fca68;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: #43b44c;
    transition: background-color 0.3s ease;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #c73b3b;
    transition: background-color 0.3s ease;
}

.edit-btn {
    border-radius: 10px;
    background-color: white;
    border: solid 2px;
    margin: 10px;
    cursor: pointer;
}