img {
    height: 45px;
    cursor: pointer;
    border-radius: 100%;
    /* margin-right: -40px; */
}

.Profile-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 10px;
    margin-right: 50px;
}

.profile-box {
    position: absolute; /* or fixed, depending on your layout */
    top: 55px;
    right: 20px;
    /* transform: translate(-50%, -50%); */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.name {
    font-size: 1.4rem;
}

.username {
    margin-top: -15px;
    font-size: .9rem;
    color: rgb(172, 172, 172);
}

.profile-box img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-bottom: 10px;
    cursor: default;
}

.profile-box a {
    background: none;
    border: none;
    color: rgb(74, 121, 248);
    margin-left: 0px;
    margin: 3px;
    margin-bottom: 10px;
}

.btn-danger {
    align-self: bottom;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 999; /* sits above page but below login box */
}

@media (max-width: 641px) {
    .profile-header-menu {
        position: fixed;
        right: 10px;
    }
    .name {
        text-align: center;
    }
}