h1 {
    text-align: center;
    Background: linear-gradient(150deg, rgb(74, 121, 248) 0%, #83cf89 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

h2 {
    Background: linear-gradient(150deg, rgb(74, 121, 248) 0%, #83cf89 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    text-align: center;
}

.userFlexbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35px;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 5px;
}

.imgDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
}

button {
    height: 2rem;
    width: 13rem;
    margin-top: 3rem;
    background: linear-gradient(150deg, rgb(74, 121, 248) 0%, #83cf89 80%);
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    scale: 103%;
}

input {
    margin: 0.5rem 0;
    width: 13rem;
    background-color: inherit;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(150deg, rgb(74, 121, 248) 0%, #83cf89 80%) 1;
    transition: all 400ms;
}

input:hover {
  scale: 103%;
}

.editDetails {
    display: flex;
    flex-direction: column;
}

.modalBackdrop {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
}