.heading {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-bottom: 1rem;
}

.heading h1 {
    grid-column: 2;
    text-align: center;
    margin: 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    Background: linear-gradient(150deg, rgb(74, 121, 248) 0%, #83cf89 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

.heading button {
    grid-column: 3;
    justify-self: end;
    background-color: #76d47e;
    border: none;
    padding: 3px 8px;
    transition: all 0.3s ease;
}

.heading button:hover {
    background-color: #67d16d;
    scale: 105%;
    transition: all 0.3s ease;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}

.heading button {
    margin-left: auto;
}

button {
    border-radius: 10px;
    background-color: white;
    border: solid 2px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

.modalBackdrop {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
    z-index: 9999;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 700px;
    width: 90%;
    max-height: 85vh;
    overflow-y: auto;
}

.modalContent h2 {
    position: static;
    transform: none;
    text-align: center;
    margin: 10px 0;
}

.modalContent input, .modalContent textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem;
    box-sizing: border-box;
}

.modalContent button {
    margin: 5px;
}

#warning {
    font-size: small;
    max-width: 100%;
    color: darkred;
    margin-bottom: 1rem;
}