.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}

h1, h2{
    text-align: center;
    margin-bottom: 20px;
}

.no-added-recipes-a {
    Background: linear-gradient(150deg, rgb(74, 121, 248) 0%, #83cf89 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ingredient-list  {
    margin-top: 20px;
}

.ingredient-item {
    display: flex;
    align-items: center;
    margin-left: 10vw;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.ingredient-item label {
  cursor: pointer;        /* keep the pointer cursor */
  user-select: none;      /* prevent text highlighting */
}

.checked-item {
  position: relative;
  background: linear-gradient(150deg, rgb(74, 121, 248) 0%, #83cf89 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.checked-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background: linear-gradient(150deg, rgb(74, 121, 248) 0%, #83cf89 80%); /* or match your gradient */
}

.clear-ingredients-button {
    /* margin-top: 40px; */
    margin-bottom: 2%;
    margin-right: 10px;
    background-color: rgb(74, 121, 248);
    color: #e9e9e9;
    transition: background-color 0.3s ease;
}

.clear-ingredients-button:hover {
    background-color: #3765b9;
    transition: background-color 0.3s ease;
}

.clear-all-button {
    /* margin-top: 40px; */
    margin-bottom: 2%;
}

.no-added-recipes {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.progress-circle {
    position: absolute;
    transform: translate(440%, 0%);
    display: block;
    width: 200px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    stroke: #4caf50; /* green progress color */
    transition: stroke-dasharray 0.3s ease;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}
